
@{
    Layout = "~/Views/Shared/_LayoutDefault.cshtml";
}
@using PagedList.Mvc;
@model PagedList.IPagedList<Maynuocnong.Models.tblNew>
@using Maynuocnong.Models
<div id="main">
    <div class="nVar_Product">
        <nav>@Html.Raw(ViewBag.nUrl)</nav>
    </div>


    <div id="News">

        <div id="LeftNews">
            @{Html.RenderAction("leftNewsPartial", "News");}
            <div class="Tear_Cate">
                <div class="nVar_Tear_Cate" style="background:#0063a4">
                    <span>Chính sách & dịch vụ</span>
                </div>
                <div class="Content_Tear_Cate1">
                    <ul>
                        @Html.Raw(ViewBag.chuoichinhsach)
                    </ul>
                </div>
            </div>

            <div class="Tear_Cate">
                <div class="nVar_Tear_Cate" style="background:#0063a4">
                    <span>Tin tức nổi bật</span>
                </div>
                <div class="Content_Tear_Cate1">
                    <ul>
                        @Html.Raw(ViewBag.chuoinewnews)
                    </ul>
                </div>
            </div>
        </div>
        <div id="RightNews">
            <div class="nVar_News">
                <span></span><h1>@ViewBag.Name</h1>
            </div>
            @foreach (var item in Model)
            {
                <div class="Tear_News">
                    <a href="/@item.Tag-ns" title="@item.Name"><img src="@item.Images" alt="@item.Name" title="@item.Name" /></a>
                    <a href="/@item.Tag-ns" title="@item.Name">@item.Name</a>
                    <span class="date"><span class="iCon"></span>Thời gian gửi : @item.DateCreate</span>
                    <span class="des">
                        @{
                string des = Maynuocnong.Models.StringClass.StripHtml(item.Description);
                        }
                        @Html.Raw(des)
                    </span>
                </div>
            }
            @Html.PagedListPager(Model, page => Url.Action("ListNews", new { page = page, sortOrder = ViewBag.CurrentSortOrder, sortName = ViewBag.CurrentSortName, sortLevel = ViewBag.CurrentSortLevel }), (PagedListRenderOptions)ViewBag.ship)


        </div>
    </div>

    <div class="Clear"></div>
</div>
