<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Html.Raw(ViewBag.Title)
    @Html.Raw(ViewBag.dcTitle)
    @Html.Raw(ViewBag.Description)
    @Html.Raw(ViewBag.dcDescription)
    @Html.Raw(ViewBag.Keyword)
    @Html.Raw(ViewBag.canonical)
    @Html.Raw(ViewBag.Meta)


    <meta http-equiv="Content-Language" content="vi">

    @{Html.RenderAction("partialdefault", "Default");}
    @Styles.Render("~/Content/Display/Style/css")
    <link href="~/Content/Display/Style/update/call.css" rel="stylesheet" />
    <link href="~/Content/Display/Style/update/Popup_ud.css" rel="stylesheet" />
    <link href="~/Content/Display/Style/update/product.css" rel="stylesheet" />
    <link href="~/Content/Display/Style/update/sale.css" rel="stylesheet" />
    <link href="~/Content/Display/Style/update/times.css" rel="stylesheet" />
</head>
<body>
    <header>
        @{Html.RenderAction("headerPartialView", "Header");}
    </header>
    <section>

        @RenderBody()
    </section>
    <footer>

        @{Html.RenderAction("footerPartial", "footer");}
    </footer>
    <div id="popup_content" class="popup">
    </div>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/jquery-2.2.3.js"></script>
    <script src="~/Content/Display/Scipts/Scroll.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="~/Scripts/jquery.popupMiendatweb.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script type="text/javascript">

        function SetIMG(id, an) {
            $("#Images_Detail").html("  <a href='javascript:;' title='" + id + "'><img src='" + id + "' alt=\"\" /></a>");
            $('#Images_Thumbs img').removeClass('setimg');
            $('#Images_Thumbs img.' + an).addClass('setimg');
            return false;
        }



    </script>
    <script type="text/javascript">

        function CreateOrder(id) {
            var quanlity = 1;
            $.post("/Order/Create", { "idp": id, "ord": quanlity },
                function (data) {
                    $("#popup_content").html(data.result);
                    $("#box_Order .count").html(data.sl);
                    $(".Order_List").html(data.chuoi1)
                });

            return false;
        }

        function UpdateOrd(pId) {
            var ord = $(".txtOrd" + pId).val();

            $.post("/Order/UpdatOder", { "id": pId, "ord": ord },
                function (data) {
                    $('#Gia' + pId).html(data.gia + " vnd");
                    $(".tt").html(data.tt);
                    $("#box_Order .count").html(data.sl);

                });
            return false;
        }
        function DeleteOrder(pId) {
            $.post("/Order/DeleteOrder", { "id": pId },
                function (data) {

                    $('.row' + pId).html(data.thongtin);
                    $(".tt").html(data.tt);
                    $(".count").html(data.count);
                    $("#Box_Order .count").html(data.sl);
                    $(".Order_List").html(data.chuoi1)


                });
            return false;
        }

    </script>

    <script type="text/javascript" language="JavaScript">
        $(function () {
            /* khởi tạo popup */
            $('input[rel*=miendatwebPopup]').showPopup({
                top: 200, //khoảng cách popup cách so với phía trên
                closeButton: ".close_popup", //khai báo nút close cho popup
                scroll: false, //cho phép scroll khi mở popup, mặc định là không cho phép
                onClose: function () {
                    //sự kiện cho phép gọi sau khi đóng popup, cho phép chúng ta gọi 1 số sự kiện khi đóng popup, bạn có thể để null ở đây
                }
            });
            $('button[rel*=miendatwebPopup]').showPopup({
                top: 200, //khoảng cách popup cách so với phía trên
                closeButton: ".close_popup", //khai báo nút close cho popup
                scroll: false, //cho phép scroll khi mở popup, mặc định là không cho phép
                onClose: function () {
                    //sự kiện cho phép gọi sau khi đóng popup, cho phép chúng ta gọi 1 số sự kiện khi đóng popup, bạn có thể để null ở đây
                }
            });
            $('a[rel*=miendatwebPopup]').showPopup({
                top: 200, //khoảng cách popup cách so với phía trên
                closeButton: ".close_popup", //khai báo nút close cho popup
                scroll: false, //cho phép scroll khi mở popup, mặc định là không cho phép
                onClose: function () {
                }
            });
        });
        function close_popup() {
            $("#popup_content").css("display", "none");
            $("#lean_overlay").css("display", "none");

        }
    </script>
    <script>
        $('.carousel').carousel({
            interval: 5000 //changes the speed
        })
    </script>

    <link href="~/Content/Admin/Styles/full-slider.css" rel="stylesheet" />
    <script src="~/Content/Display/Scipts/update/jquery.popupMiendatweb.min.js"></script>
    <script type="text/javascript" language="JavaScript">
        $(function () {
            /* khởi tạo popup */
            $('input[rel*=miendatwebPopup]').showPopup({
                top: 200, //khoảng cách popup cách so với phía trên
                closeButton: ".close_popup", //khai báo nút close cho popup
                scroll: false, //cho phép scroll khi mở popup, mặc định là không cho phép
                onClose: function () {
                    //sự kiện cho phép gọi sau khi đóng popup, cho phép chúng ta gọi 1 số sự kiện khi đóng popup, bạn có thể để null ở đây
                }
            });
            $('a[rel*=miendatwebPopup]').showPopup({
                top: 200, //khoảng cách popup cách so với phía trên
                closeButton: ".close_popup", //khai báo nút close cho popup
                scroll: false, //cho phép scroll khi mở popup, mặc định là không cho phép
                onClose: function () {
                    //sự kiện cho phép gọi sau khi đóng popup, cho phép chúng ta gọi 1 số sự kiện khi đóng popup, bạn có thể để null ở đây
                }
            });
        });
        function close_popup() {
            $("#popup_content").css("display", "none");
            $("#lean_overlay").css("display", "none");

        }
    </script>
</body>
</html>
